amqp==2.2.2
configparser==3.5.0
enum34==1.1.6
flake8==3.4.1
flake8-blind-except==0.1.1
flake8-docstrings==1.1.0
flake8-import-order==0.13
flake8-polyfill==1.0.1
funcsigs==1.0.2
kombu==4.1.0
mccabe==0.6.1
py==1.4.34
pycodestyle==2.3.1
pydocstyle==2.0.0
pyflakes==1.5.0
pytest==3.2.3
six==1.11.0
snowballstemmer==1.2.1
vine==1.1.4
